
{% extends 'templates/app.twig' %}
{% block title %}TekInventory{% endblock %}
        {% block javascript %}            
        

        <script type="text/javascript">

        $(document).ready(function() 
{

$("#category").on('change', function(){   
    $(".ajax").css('visibility','hidden');
    var v = $('#category option:selected').val();   
    
    $.ajax({
        url: "{{ path_for('inventory.ajax') }}", 
        data: {
            id: v
        },
        type: "POST",
        dataType : "json",
    })

    .done(function( result ) {
    
        $.each(result,function(key, value){  
            prop = value.property.property;                                       
            $("#attrib_"+(key+1)).css('visibility','visible');
            $("#attrib_"+(key+1)+" label").text(prop);
            var Att = 'attrib_'+(key+1);

            if(value.property.dataType == "String"){                               
               $("#input_"+(key+1)).html(
                    '<input type="text" maxlength=45 id="'+Att+'" name="'+Att+'" class="form-control">'
                );

            } else if(value.property.dataType == "Number"){                              
               $("#input_"+(key+1)).html(
                    '<input type="number" min=0 width=7 id="'+Att+'" name="'+Att+'" class="form-control">'
                ); 

            } else if(value.property.dataType == "Decimal"){                              
               $("#input_"+(key+1)).html(
                    '<input type="number" step="0.01" min=0 width=7 id="'+Att+'" name="'+Att+'" class="form-control">'
                ); 

            } else if(value.property.dataType == "Boolean"){                              
               $("#input_"+(key+1)).html(
                    '<select name="'+Att+'" id="'+Att+'" class="form-control"> <option value="No">No</option><option value="Yes">Yes</option></select>'
                );                                
            }

            $("#hidden").html('<input type="hidden" id="id" name="id" value="'+v+'"></input>'); 

        });
    })

    .fail(function( xhr, status, errorThrown ) {
    alert(  "Error: " + errorThrown );
    console.log( "Error: " + errorThrown );
    console.log( "Status: " + status );
    console.dir( xhr );
  })

  // Code to run regardless of success or failure;
  .always(function( xhr, status ) {
    
    }); 
  });    
});
    </script>
    {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 ">
            <div class="panel panel-default">
                <div class="panel-heading">New Inventory Item<img height = '16' width = '16' src = "{{ base_url() }}/images/info.png" title='This page allows you to add a new Item, based on the default item properties, like cost and description, and the allowable properties of the item type' /></div>
                <div class="panel-body">
                        
                    <form id="padded" action="{{ path_for('inventory.add') }}" method="post" autocomplete="off">
                    
                    <div class="form-group properties "> 
                        <label for="category">Choose Item Type: </label>
                        <select id='category' name='category' class="form-control" >                            
                            <option value = ""> - </option>
                            {% for cat in categories  %}
                                <option value = "{{ cat.id }}">{{ cat.itemType }}</option>
                            {% endfor %}
                        </select>   
                    </div> 

                    <p><hr></p>

                    <div class="form-group properties">    
                        <label for="collection">Add to Collection: </label>
                        <select  class="form-control" id="collection" name="collection">                            
                            {% for collection in collections %}
                                <option value="{{ collection.collection_id }}" 
                                    {% if collection.collection_id == 1 %}
                                        selected
                                    {% endif %}>
                                    {{ collection.collection }}
                                </option>
                            {% endfor %}
                        </select>
                    </div> 

                    <p><hr></p>

                    <div class="properties form-group{{ errors.desc ? ' has-error' : '' }}" >
                            <label for="desc">Description*</label>
                             <input type="text" id="desc" maxlength=100 size=60 name="desc" class="form-control" placeholder="A human readable description. ie 48 port managed Cisco x900 Switch">
                             {% if errors.quantity %}
                                <span class="help-block">{{ errors.quantity | first }}</span>
                            {% endif %}                            
                        </div>
                    
                        <div class="properties form-group{{ errors.quantity ? ' has-error' : '' }}" >
                            <label for="quantity">Quantity*</label>
                             <input type="number" min=0 size=200 id="quantity" name="quantity" class="form-control">
                             {% if errors.quantity %}
                                <span class="help-block">{{ errors.quantity | first }}</span>
                            {% endif %}                            
                        </div>

                    <div class="properties form-group">
                        <div class="properties form-group{{ errors.buyPrice ? ' has-error' : '' }}" >
                            <label for="buyPrice">Cost</label>
                             <input type="number" step="0.01" min=0 size=200 id="buyPrice" name="buyPrice" class="form-control">
                             {% if errors.buyPrice %}
                                <span class="help-block">{{ errors.buyPrice | first }}</span>
                            {% endif %}
                        </div>                        
                    </div>                        
                    
                    <div class="form-group properties ">
                        <div class="form-group{{ errors.vendor ? ' has-error' : '' }}" >
                            <label for="vendor">Vendor</label>
                             <input type="text" maxlength=20 id="vendor" name="vendor" class="form-control">
                             {% if errors.vendor %}
                                <span class="help-block">{{ errors.vendor | first }}</span>
                            {% endif %}                            
                        </div>

                        <div class="form-group{{ errors.vendor_sku ? ' has-error' : '' }}" >
                            <label for="vendor_sku">Vendor SKU</label>
                             <input type="text" maxlength=20 id="vendor_sku" name="vendor_sku" class="form-control">
                             {% if errors.vendor_sku %}
                                <span class="help-block">{{ errors.vendor_sku | first }}</span>
                            {% endif %}                            
                        </div>
                    </div> 

                     <p><hr></p>

                    <div class="form-group properties">
                        <div id="attrib_1" class="ajax form-group{{ errors.attrib_1 ? ' has-error' : '' }}" >
                            <label for="attrib_1"></label>*
                             <div id="input_1"></div>
                             {% if errors.attrib_1 %}
                                <span class="help-block">{{ errors.attrib_1 | first }}</span>
                            {% endif %}                            
                        </div>

                        <div id="attrib_2" class="ajax form-group{{ errors.attrib_2 ? ' has-error' : '' }}" >
                            <label for="attrib_2"></label>*
                            <div id="input_2"></div>
                            {% if errors.attrib_2 %}
                                <span class="help-block">{{ errors.attrib_2 | first }}</span>
                            {% endif %}
                        </div>
                    </div> 
                    <div class="form-group properties">
                        <div id="attrib_3" class="ajax form-group{{ errors.attrib_3 ? ' has-error' : '' }}" >
                            <label for="attrib_3"></label>*
                            <div id="input_3"></div>
                            {% if errors.attrib_3 %}
                                <span class="help-block">{{ errors.attrib_3 | first }}</span>
                            {% endif %}
                        </div>

                        <div id="attrib_4" class="ajax form-group{{ errors.attrib_4 ? ' has-error' : '' }}" >
                            <label for="attrib_4"></label>*
                            <div id="input_4"></div>
                            {% if errors.attrib_4 %}
                                <span class="help-block">{{ errors.attrib_4 | first }}</span>
                            {% endif %}
                        </div>
                    </div> 


                   


                    <div class="form-group properties ">
                        <button type="submit" class="form-control btn btn-success">Create</button>
                    </div>
                        <div id='hidden'></div>
                       {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}